* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.main-header {
    text-align: center;
    background-color: skyblue;
}

.logo {
    margin: 0;
}

.logo a {
    padding: 0.5em 0;
}

.navlist li a {
    padding: 1em 0;
}

.navlist li a:hover {
    background-color: red;
    transition: .3s;
    text-shadow: 1px 1px 1px black;
}

a {
    display: block;
    color: wheat;
}

footer {
    text-align: center;
    padding: 1em 0;
    color: black;
}

.wrap {
    min-height: calc(100vh - 54px);
}

.banner {
    background: url("../images/QQ%E5%9B%BE%E7%89%8720180615212003.jpg");
    margin-top: 0;
    text-shadow: 1px 2px snow;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 6em;

}

h2 {
    padding-top: 1em;
}

p {
    margin: 0;
}

span {
    text-align: center;
    font-size: 30px
}

@media (min-width:700px) {
    .main-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navlist {
        display: flex;
        align-items: stretch;
    }

    .navlist li a {
        padding: 2em 2em;
    }

    .container {
        background: url("../images/c2fdfc039245d68832666003a5c27d1ed21b2435.jpg");
        display: flex;
        width: 100%;
        margin: auto;
        padding: 4em 4em;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        text-align: center;
        flex-direction: column;
    }
}
